#mainHeader {
    height: 10vh;
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 0 1vw;
}

#mainHeader > a,
#mainHeader > nav {
    align-self: center;
}


#mainHeader .logo {
    text-decoration: none;
    color: #7C7062;
    width: 12.8rem;
}

#mainHeader .logo .logoTop img {
    height: 5vh;
    margin: 0 0.5rem;
}

#mainHeader .logo .logoTop span {
    display: inline-block;
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    line-height: 5vh;
    text-transform: uppercase;
}

#mainHeader .logo .logoTop span#logoThe {
    margin-left: 1.8rem;
}

#mainHeader .logo .logoBottom {
    font-family: "Tangerine", sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

#mainHeader > nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, auto);
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#mainHeader > nav ul li {
    display: inline;
}

#mainHeader > nav ul li a {
    font-size: 0.875rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
}

#mainHeader > nav ul li a:hover {
    border-bottom: 2px solid #000;
}
